/* Le code de vos exercices */
/* *****************************************************************
mise en forme 
***************************************************************** */

section h2 {
  background-color: #c0c0c0;
  padding: 0px;
  margin: 0px;
}

/* *****************************************************************
Mobile
***************************************************************** */

div {
  display: flex;
  flex-direction: column;
}

/* *****************************************************************
Tablette
***************************************************************** */

@media (min-width: 780px) {
  div {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
  }
  div article {
    width: 48%;
  }
}

/* *****************************************************************
Ordinateur
***************************************************************** */
@media (min-width: 1200px) {
  div {
    display: flex;
    flex-direction: initial;
    flex-wrap: nowrap;
  }
}
