/* Le code de vos exercices */
/* *****************************************************************
mise en forme 
***************************************************************** */

section h2 {
  background-color: #c0c0c0;
  padding: 0px;
  margin: 0px;
}

/* *****************************************************************
Ordinateur
***************************************************************** */
div {
  display: flex;
  justify-content: space-between;
}
/* *****************************************************************
Tablette
***************************************************************** */

@media (max-width: 1200px) {
  div {
    display: flex;
    flex-wrap: wrap;
  }
  div article {
    width: 50%;
  }
}

/* *****************************************************************
Mobile
***************************************************************** */

@media (max-width: 780px) {
  div {
    display: flex;
    flex-direction: column;
  }
  div article {
    width: 100%;
  }
}
