*{
    font-family: "Courier New", Courier, monospace;
}
.header{
    
    text-align: center;
    border: solid;
    border-color:#dd5735;
    background-color:#dddddd;
    margin:20px;
    padding: 20px;
    border-width: 1px;
}
.footer{
    
    text-align: center;
    border: solid;
    border-color:#555555;
    background-color:#dddddd;
    margin:20px;
    padding: 20px;
    border-width: 1px;
}

.header h1{
    color: #dd5735;
    font-size: 30px;
    font-weight: bold;
}

.parent{
    border:dashed;
    border-color:#dd5735;
    border-width:1px;
}

.main h1{
    color: #dd5735;
    font-size: 40px;
    font-weight: bold;
}
.main h2{
    font-size: 30px;
    font-weight: bold;
}
.main h3{
    font-size: 20px;
    font-weight: bold;
    color:#555555;
}
.main p a{
    text-decoration:none;
    color:#dd5735;
    
}
.footer p span{
    color: #dd5735;
}